<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>{{pageTitle}} Page</title>
  </head>
  <body>
    {{> header}}
    <p>
      {{screamIt pageTitle}}
    </p>
    <a href="{{ perfilUrl }}">
      <img src="{{ perfilAvatar }}" />
    </a>
    <h1>{{ perfilName }}</h1>
    <p>{{ perfilBio }}</p>
    {{> footer}}
  </body>
</html>
